<div class="h-screen flex justify-center items-center">
  <button (click)="drawerOpen = true"
          class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">
    Open Overlay
  </button>
</div>


<!-- <app-overlay *ngIf="showOverlay" [companyName]="company.name"
  [recordId]="company.id" (close)="showOverlay = false"></app-overlay> -->

  <app-overlay
  *ngIf="drawerOpen"
  [companyName]="companyName"
  [recordId]="recordId"
  [sectionData]="sectionData"
  (close)="drawerOpen = false">
</app-overlay>
