<div class="h-screen flex justify-center items-center">
  <button (click)="drawerOpen = true"
          class="bg-blue-600 text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-700" [ngStyle]="{
                'background-color': '#E7EFFF',
                'color': '#90A8F1'
              }"
            >
    {{'Open Overlay'}}
  </button>
</div>
<!--To load child overlay component driven by user button click -->
  <app-overlay
  *ngIf="drawerOpen"
  [companyName]="companyName"
  [recordId]="recordId"
  [sectionData]="sectionData"
  (close)="drawerOpen = false">
</app-overlay>
